

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 36px;
}
.header{
    background-image: url('/B12A01-landing-launchpad/Assets/Hero-bg.png');
    margin-bottom: 20px;
    padding-bottom: 100px;
}

/* navbar styles */

.navbar{ 
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    color: rgba(78, 71, 255, 1);
}
nav ul li {
    text-decoration: none;
    list-style: none;
}
nav li a{
    text-decoration: none;
}
/* button styles */
.button-primary{
     background-color: rgba(78, 71, 255, 1);
    border-radius: 5px;
    border: none;
    font-weight: 100px;
    color: white;
    font-size: 25px;
    margin-left: 10px;
    
}
.button-primary2{
    text-align: center;
    display: flex;
    margin-left: 43%;
     background-color: rgba(78, 71, 255, 1);
    border-radius: 5px;
    border: none;
    font-weight: 100px;
    color: white;
    font-size: 25px;
    margin: 0px auto ;
   align-items: center;
}
/* banner style */
.banner-content{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    margin-top: 100px;
}
/* action style */
/* .action-item {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    
} */
/* .action-image{

    
    display: flex;
   
    padding-left: 800px;
    border-radius:50px ;
   

} */
 .action-title{
    font-size: 42px;
    font-weight: bold;
 }
 .action-para{
    font-size: 24px;
    font-weight: normal;
    color: rgba(37, 36, 50, 0.5);
 }
.action-image{
    width: 403px;
    height: 328px;
    border-radius: 50px;
}
.action{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 100px;
}
.action-item{
    max-width: 580px;
}
/* productive style */
.stats{
    background-color: #eef2ff;
    opacity: 100;
    text-align: center;
    padding: 60px 20px;
    border-radius: 55px;
    margin-top: 60px;
}
.stats h3{
    font-size: 34px;
    margin-bottom: 40px;
    /* display: flex;
    text-align: center;
    margin-left: 400px;
    padding-top: 20px; */
    
}
.stats-box{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.stat strong{
    display: block;
    font-size: 56px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4f46e5;
}
/* users styling */
.users-section{
  margin-bottom: 300px;
  justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.users-h3{
    text-align: center;
   display: flex;
    padding-left: 230px;
}
.users-container{
    width: 300px;
    
    
}
.users-review {
    width: 370px;
    height: 245px;
    border-radius: 5px;
    margin-left: 50px;
    margin: 0%;

    
}
.Reviewer{
    border-radius: 55px;
}
.Reviewer-name{
    font-size: large;
    padding-bottom: 70px;
}    
.Reviewer-date{
    font-size: medium;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;

}
.ready-section{
    text-align: center;
    
    
}
.ready-para{
    font-size: 26px;
    font-weight: lighter;
}
.ready-img{
    border-radius: 35px;
}
section h3 {
    display: flex;
    text-align: center;
    font-size: 95px;
    font-weight: bold;
    padding-left: 40px;
}
.textarea{
    padding-left: 600px;
    display: inline-block;
    align-items: center;
    margin: 0px 0px 30px 0px;
}
h2{
    padding-left:600px ;
    color: #4f46e5;
}
.logo-para{
    font-size: 26px;
    font-weight: 100;
    display: flex;
    padding-left: 300px;
}
.links{
    display: inline-flex;
   justify-content: space-between;
   gap: 50px;
   padding-left: 400px;
   font-size: 25px;
   font-weight:lighter;
}