

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 36px;
}
.header{
    background-image: url('/B12A01-landing-launchpad/Assets/Hero-bg.png');
    margin-bottom: 20px;
    padding-bottom: 100px;
}

/* navbar styles */

.navbar{ 
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    color: rgba(78, 71, 255, 1);
}
nav ul li {
    text-decoration: none;
    list-style: none;
}
nav li a{
    text-decoration: none;
}
/* button styles */
.button-primary{
     background-color: rgba(78, 71, 255, 1);
    border-radius: 5px;
    border: none;
    font-weight: 100px;
    color: white;
    font-size: 25px;
    margin-left: 10px;
    
}
.button-primary2{
    text-align: center;
    display: flex;
    margin-left: 43%;
     background-color: rgba(78, 71, 255, 1);
    border-radius: 5px;
    border: none;
    font-weight: 100px;
    color: white;
    font-size: 25px;
    margin: 0px auto ;
   align-items: center;
}
/* banner style */
.banner-content{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    margin-top: 100px;
}
/* action style */
/* .action-item {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    
} */
/* .action-image{

    
    display: flex;
   
    padding-left: 800px;
    border-radius:50px ;
   

} */
 .action-title{
    font-size: 42px;
    font-weight: bold;
 }
 .action-para{
    font-size: 24px;
    font-weight: normal;
    color: rgba(37, 36, 50, 0.5);
 }
.action-image{
    width: 403px;
    height: 328px;
    border-radius: 50px;
}
.action{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 100px;
}
.action-item{
    max-width: 580px;
}
/* productive style */
.stats{
    background-color: #eef2ff;
    opacity: 100;
    text-align: center;
    padding: 60px 20px;
    border-radius: 55px;
    margin-top: 60px;
}
.stats h3{
    font-size: 34px;
    margin-bottom: 40px;
    /* display: flex;
    text-align: center;
    margin-left: 400px;
    padding-top: 20px; */
    
}
.stats-box{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.stat strong{
    /* font-size: 30px;
    color: rgb(0, 0, 0);
    opacity: 100%; */
    display: block;
    font-size: 36px;
    color: #4f46e5;
}
     

